#header {
  min-height: 10vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo img {
  height: 9rem;
  margin-top: 1.6rem;
}

.nav__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.nav__list {
  margin: 0 1.6rem;
  align-items: center;
}

.nav__link {
  color: var(--darl-color);
}

.nav__link:hover {
  color: var(--primary-color);
  transition: all 0.4 ease-in-out;
}
